{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}Tags{% endblock %}

{% block content %}
    <h1>All tags</h1>

    <p>You can browse the blog posts by the tags below.</p>
    <p>Each tag has its own feed in case you want to only subscribe to a specific tag.</p>

    <div>
        <table class="text-xl">
            {# Reverse sorting tags while keeping the tag name sorted for the same page_count #}
            {% for page_count, tags_with_same_page_count in terms | sort(attribute="page_count") | reverse | group_by(attribute="page_count") %}
                {% for tag in tags_with_same_page_count | reverse %}
                    <tr>
                        <td class="py-3 pr-3 font-bold">
                            <a href="{{ tag.permalink | safe }}">#{{ tag.name }}</a>
                        </td>

                        <td class="py-3 pr-3">
                            {{- page_count }}
                            {% if page_count == 1 -%}
                                post
                            {%- else -%}
                                posts
                            {%- endif -%}
                        </td>

                        <td class="flex justify-center py-3 pl-3">{{ macros::feed(link=tag.permalink ~ "atom.xml") }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>

    <div class="flex flex-col my-8">{{ macros::btn(link=get_url(path="@/blog/_index.md") , content="Back to blog") }}</div>
{% endblock %}
