{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}#{{ term.name }}{% endblock %}

{% block content %}
    <h1>#{{ term.name }}</h1>

    <div class="flex gap-x-1">Tag's specific feed: {{ macros::feed(link=get_url(path="atom.xml")) }}</div>

    {{ macros::blog_list() }}

    <div class="flex flex-col my-8">{{ macros::btn(link=get_url(path="/tags") , content="Back to all tags") }}</div>
{% endblock %}
