@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl mt-3 mb-3 text-gray-50 font-bold;
  }
  h2 {
    @apply text-3xl mt-4 mb-1.5 text-gray-50 font-bold;
  }
  h3 {
    @apply text-2xl mt-5 mb-1.5 text-gray-50 font-bold;
  }
  h4 {
    @apply text-xl mt-6 mb-1.5 text-gray-50 font-bold;
  }
  p {
    @apply mb-2;
  }
  a {
    @apply text-[#F74C00] underline hover:decoration-orange-400 transition duration-300;
  }
  ul {
    @apply mt-2 mb-3 ml-1 list-disc list-inside marker:text-sky-600;
  }
  ol {
    @apply mt-2 mb-3 ml-1 list-decimal list-inside marker:text-sky-500;
  }
  li {
    @apply my-0.5;
  }
  code {
    @apply bg-white/10 px-1 pb-px pt-1 rounded-md;
  }
  pre code {
    @apply bg-inherit p-0 text-inherit;
  }
  input, textarea {
    @apply bg-gray-700;
  }
  hr {
    @apply my-5 rounded-full;
  }
  img {
    @apply max-w-full w-full h-full mx-auto my-5 object-contain md:w-3/4 lg:w-3/5 rounded shadow;
  }
  blockquote {
    @apply p-4 my-3 border-s-4 border-gray-300 bg-gray-800 italic;
  }

  pre {
    @apply px-2 pt-2 pb-px overflow-x-auto text-sm sm:text-base rounded mt-2 mb-4 after:content-[attr(data-lang)] after:text-[8px] after:opacity-40 selection:bg-gray-500/75;
  }
  pre table td {
    @apply pr-2 py-0;
  }
  pre table td:nth-of-type(1) {
    @apply select-none;
  }
  pre code mark {
    @apply pb-0.5 pt-1 pr-px text-inherit rounded-sm;
  }
  pre table {
    @apply w-full border-collapse;
  }
}
