{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
    <div class="flex flex-col mx-auto text-center">
        <h1>DON'T PANIC!</h1>
        <h2>404: Page not found!</h2>

        <img class="max-h-[50vh]"
             src="{{ get_url(path='images/panic.svg') | safe }}"
             alt="">

        {{ macros::btn(link=get_url(path="/") , content="Back to the homepage") }}
    </div>
{% endblock %}
