{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
    <h1>All blog posts</h1>

    {{ macros::feed(link=get_url(path="atom.xml") ) }}

    <p class="text-base">
        You can <a href="{{ get_url(path='tags') | safe }}">browse by tags</a> which have their own Atom/RSS feeds.
    </p>

    {{ macros::blog_list() }}

    <p class="mt-8 text-center">
        Check out my <a href="{{ get_url(path='@/similar-blogs/index.md') | safe }}">list of similar blogs</a> 🚀
    </p>
 
    {# Link verification #}
    <div class="hidden">
        <a rel="me" href="https://fosstodon.org/@mo8it">Mastodon</a>
    </div>
{% endblock %}
