{% macro toc() %}
    <p class="p-1 my-4 text-base rounded sm:hidden bg-yellow-200/20">Landscape mode recommended on mobile devices</p>

    {% if page.toc %}
        <div class="px-4 pt-3 pb-0.5 mt-3 mb-1 bg-gray-800 rounded">
            <p class="text-2xl font-bold">Contents</p>

            <nav>
                <ul class="ml-0 list-none">
                    {% for parent in page.toc %}
                        {% if parent.level == 2 %}
                            <li>
                                {#- -#}
                                <a href="{{ parent.permalink | safe }}">{{ parent.title }}</a>
                                {#- -#}
                                {% if parent.children %}
                                    <ul class="my-0 ml-5 list-none">
                                        {% for child in parent.children %}
                                            {% if child.level == 3 %}
                                                <li>
                                                    {#- -#}
                                                    <a class="text-base" href="{{ child.permalink | safe }}">{{ child.title }}</a>
                                                    {#- -#}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {#- -#}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endmacro %}

{% macro feed(link) %}
    <div class="inline-flex gap-x-1 items-center">
        <a href="{{ link | safe }}">Atom/RSS</a>

        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 25 25"
             stroke-width="2.5"
             stroke="white"
             class="p-px bg-orange-500 rounded w-[1.1rem] h-[1.1rem]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
    </div>
{% endmacro %}

{% macro post_metadata(page) %}
    <div class="mt-2 mb-4 text-sm leading-normal text-gray-300">
        <time datetime="{{ page.date }}">
            {{- page.date -}}
        </time>

        {%- if page.updated -%}
            <time datetime="{{ page.updated }}">
                {#- Show updated date if exists -#}
                , updated: {{ page.updated -}}
            </time>
        {%- endif -%}

        <p class="my-0">
            Tags:
            {% for term in page.taxonomies.tags -%}
                <a href="{{ get_url(path='tags/' ~ term) | safe }}">#{{ term }}</a>
                {%- if not loop.last -%}<span class="pr-1.5">,</span>{%- endif -%}
            {%- endfor -%}
        </p>

        <p class="my-0">Reading time: ~{{ page.reading_time }}min</p>

        <hr class="my-2.5">
    </div>
{% endmacro %}

{% macro btn(link, content) %}
    <a class="py-1.5 px-3 my-2 no-underline bg-gray-800 rounded-xl transition duration-500 hover:scale-[1.02]"
       href="{{ link | safe }}">{{ content | safe }}</a>
{% endmacro %}

{% macro other_page_btn(page, prefix) %}
    {{ macros::btn(link=page.permalink, content=prefix ~ page.title ~ '<hr class="mt-1 mb-3 rounded-none border-gray-600">' ~ '<span class="text-white">' ~ page.description ~ '</span>') }}
{% endmacro %}

{% macro blog_list() %}
    <div class="flex flex-col gap-y-6 mt-5">
        {% for paginator_page in paginator.pages %}
            <div class="flex flex-col bg-gray-800 rounded-lg transition duration-300 hover:shadow-lg hover:shadow-blue-900">
                <a class="p-3 text-3xl font-bold no-underline rounded-t-lg bg-gray-700/50"
                   href="{{ paginator_page.permalink | safe }}">{{ paginator_page.title }}</a>

                <div class="mx-3 mb-4">
                    {{ self::post_metadata(page=paginator_page) }}

                    {% if paginator_page.summary %}<div class="leading-normal">{{ paginator_page.summary | safe }}</div>{% endif %}

                    <a class="block mt-4 font-bold"
                       href="{{ paginator_page.permalink | safe }}">Read more...</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if paginator.previous or paginator.next %}
        <nav class="flex gap-x-8 justify-center my-5">
            {% if paginator.previous %}{{ self::btn(link=paginator.previous, content="‹ Newer posts") }}{% endif %}
            {% if paginator.next %}{{ self::btn(link=paginator.next, content="Older posts ›") }}{% endif %}
        </nav>
    {% endif %}
{% endmacro %}

{% macro popup(title) %}
    <div class="px-2 pt-2 pb-1 my-3 text-white">
        <p class="font-bold">{{ title }}</p>
        {{ body | markdown | safe }}
    </div>
{% endmacro %}
